<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ page_title }} - {{ shop.name }}</title>
    {{ content_for_header }}
    <style>
      {{ settings.type_header_font | font_face: font_display: 'swap' }}
      {{ settings.type_body_font | font_face: font_display: 'swap' }}
    </style>
    {{ 'base.css' | asset_url | stylesheet_tag }}
  </head>
  <body class="template-password">
    <main id="MainContent" role="main">
      {{ content_for_layout }}
    </main>
  </body>
</html>

